

.modal-backdrop {
    z-index: 1040;
}
body {
   background-color: #cbd7e5;
    padding-left: 3%;
    padding-right: 3%;
}
.logo_user {
    margin-top: 15px;
    float: right;
}

.logo {
    float: right;
}
.offcanvas-title, .modal-title {
    color: #f7f8fa;
    font-size: 30px;
}
.tablero-title{
    color:#101e5a;
    font-style: italic;
}
.offcanvas-body {
    background-color: #cbd7e5;
    display: flex;
    flex-direction: column;
}
.offcanvas-header, .modal-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/EDD_Proyecto1_Fase2/Img/fondo_medio_p.png");
    background-position: center;
}

.tablero {
    background-color: rgba(255, 255, 255, 0.802);
    text-align: center;
    justify-content: center;
    width: 95%;
    height: 500px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 15px 15px 20px 10px rgb(0, 0, 0,0.1);
}
.buttoncanvas {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.tablero .tcarpeta{
    padding-left: 10%;
    padding-right: 10%;
}

.tablero table {
    margin: 0 auto;
    width: 90%;
}
.tablero .input-group {
    margin: 0 auto;
    width: 50%;
}
.input-group .form-select{
    width: 80%;
}
.input-group .input-group-append {
    width:10%;
}
.input-group .form-select,
.input-group .input-group-append,.input-group .input-group-append .botonmostrar{
    flex: 1;
}
.archivos:hover{
    background-color: rgba(92, 183, 216, 0.563);
    color: rgb(255, 255, 255);
    transform: .3s;
    cursor: pointer;
}
.tablero .busqueda{
    width: 50%;
}